.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $light-grey;
  padding: 0 1rem;
  .login-cont {
    background-color: white;
    overflow: hidden;
    // padding: 2rem;
    border-radius: .5rem;
    .img-ico-cont {
      background-color: $text-color;
      .img-ico {
        position: relative;
        flex: 1;
        padding: 1rem;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .login-form-cont {
      padding: 2rem;
    }
  }
}